In [282]:
import pandas as pd # Importar la librería pandas para manipulación y análisis de datos.

In [283]:
# Configura la opción de visualización para mostrar todas las columnas del DataFrame, sin limitaciones.
pd.set_option('display.max_columns', None)

In [284]:
df = pd.read_csv('CSV/Salaries_Data_Dataset.csv',index_col=0)
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [285]:
df = df.rename(columns={
    'work_year': 'Año de Trabajo',
    'experience_level': 'Nivel de Experiencia',
    'employment_type': 'Tipo de Empleo',
    'job_title': 'Título del Puesto',
    'salary': 'Salario',
    'salary_currency': 'Moneda del Salario',
    'salary_in_usd': 'Salario en USD',
    'employee_residence': 'Residencia del Empleado',
    'remote_ratio': 'Proporcion de Trabajo en Remoto',
    'company_location': 'Ubicacion de la Empresa',
    'company_size': 'Tamaño de la Empresa'
})

In [286]:
print(df.info())  # Información general sobre las columnas y tipos de datos del DataFrame de vuelos.

<class 'pandas.core.frame.DataFrame'>
Index: 607 entries, 0 to 606
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Año de Trabajo                   607 non-null    int64
 1   Nivel de Experiencia             607 non-null    object
 2   Tipo de Empleo                   607 non-null    object
 3   Título del Puesto                607 non-null    object
 4   Salario                          607 non-null    int64
 5   Moneda del Salario               607 non-null    object
 6   Salario en USD                   607 non-null    int64
 7   Residencia del Empleado          607 non-null    object
 8   Proporcion de Trabajo en Remoto  607 non-null    int64
 9   Ubicacion de la Empresa          607 non-null    object
 10  Tamaño de la Empresa             607 non-null    object
dtypes: int64(4), object(7)
memory usage: 56.9+ KB
None

In [287]:
df.duplicated().sum()  # Verificar si existen filas duplicadas en el DataFrame.

np.int64(42)

In [288]:
df.drop_duplicates(inplace=True) # Eliminar filas duplicadas del DataFrame.

In [289]:
df.duplicated().sum() # Verificar si existen filas duplicadas en el DataFrame tras eliminarlos.

np.int64(0)

In [290]:
df.isnull().sum() # Verificar si existen valores nulos en el DataFrame.

Año de Trabajo                     0
Nivel de Experiencia               0
Tipo de Empleo                     0
Título del Puesto                  0
Salario                            0
Moneda del Salario                 0
Salario en USD                     0
Residencia del Empleado            0
Proporcion de Trabajo en Remoto    0
Ubicacion de la Empresa            0
Tamaño de la Empresa               0
dtype: int64

In [291]:
df.describe().T # Estadísticas descriptivas de las columnas numéricas del DataFrame.

,count,mean,std,min,25%,50%,75%,max
Año de Trabajo,565.0,2021.364602,6.981384e-01,2020.0,2021.0,2021.0,2022.0,2022.0
Salario,565.0,338115.985841,1.599879e+06,4000.0,67000.0,110925.0,165000.0,30400000.0
Salario en USD,565.0,110610.343363,7.228070e+04,2859.0,60757.0,100000.0,150000.0,600000.0
Proporcion de Trabajo en Remoto,565.0,69.911504,4.090067e+01,0.0,50.0,100.0,100.0,100.0

In [292]:
df['Año de Trabajo'].unique() # Verificar los valores únicos de la columna 'Año de Trabajo'.

array([2020, 2021, 2022])

In [293]:
df['Nivel de Experiencia'].unique() # Verificar los valores únicos de la columna 'Nivel de Experiencia'.

array(['MI', 'SE', 'EN', 'EX'], dtype=object)

In [294]:
# Mapeo de valores
mapa_niveles = {
    'EN': 'Junior',
    'MI': 'Intermediate',
    'SE': 'Senior',
    'EX': 'Director'
}

# Reemplazar los valores
df['Nivel de Experiencia'] = df['Nivel de Experiencia'].replace(mapa_niveles)

In [295]:
df['Nivel de Experiencia'].unique() # Verificar los valores únicos de la columna 'Nivel de Experiencia' tras el reemplazo.

array(['Intermediate', 'Senior', 'Junior', 'Director'], dtype=object)

In [296]:
df['Tipo de Empleo'].unique() # Verificar los valores únicos de la columna 'Tipo de Empleo'.

array(['FT', 'CT', 'PT', 'FL'], dtype=object)

In [297]:
# Mapeo de valores
mapa_empleo = {
    'PT': 'Part-time',
    'FT': 'Full-time',
    'CT': 'Contract',
    'FL': 'Freelance'
}

# Reemplazar los valores
df['Tipo de Empleo'] = df['Tipo de Empleo'].replace(mapa_empleo)

In [298]:
df['Tipo de Empleo'].unique() # Verificar los valores únicos de la columna 'Tipo de Empleo' tras el reemplazo.

array(['Full-time', 'Contract', 'Part-time', 'Freelance'], dtype=object)

In [299]:
df['Título del Puesto'].unique() # Verificar los valores únicos de la columna 'Título del Puesto'.

array(['Data Scientist', 'Machine Learning Scientist',
       'Big Data Engineer', 'Product Data Analyst',
       'Machine Learning Engineer', 'Data Analyst', 'Lead Data Scientist',
       'Business Data Analyst', 'Lead Data Engineer', 'Lead Data Analyst',
       'Data Engineer', 'Data Science Consultant', 'BI Data Analyst',
       'Director of Data Science', 'Research Scientist',
       'Machine Learning Manager', 'Data Engineering Manager',
       'Machine Learning Infrastructure Engineer', 'ML Engineer',
       'AI Scientist', 'Computer Vision Engineer',
       'Principal Data Scientist', 'Data Science Manager', 'Head of Data',
       '3D Computer Vision Researcher', 'Data Analytics Engineer',
       'Applied Data Scientist', 'Marketing Data Analyst',
       'Cloud Data Engineer', 'Financial Data Analyst',
       'Computer Vision Software Engineer',
       'Director of Data Engineering', 'Data Science Engineer',
       'Principal Data Engineer', 'Machine Learning Developer',
       'Applied Machine Learning Scientist', 'Data Analytics Manager',
       'Head of Data Science', 'Data Specialist', 'Data Architect',
       'Finance Data Analyst', 'Principal Data Analyst',
       'Big Data Architect', 'Staff Data Scientist', 'Analytics Engineer',
       'ETL Developer', 'Head of Machine Learning', 'NLP Engineer',
       'Lead Machine Learning Engineer', 'Data Analytics Lead'],
      dtype=object)

In [300]:
df['Moneda del Salario'].unique() # Verificar los valores únicos de la columna 'Moneda del Salario'.

array(['EUR', 'USD', 'GBP', 'HUF', 'INR', 'JPY', 'CNY', 'MXN', 'CAD',
       'DKK', 'PLN', 'SGD', 'CLP', 'BRL', 'TRY', 'AUD', 'CHF'],
      dtype=object)

In [301]:
df['Residencia del Empleado'].unique() # Verificar los valores únicos de la columna 'Residencia del Empleado'.

array(['DE', 'JP', 'GB', 'HN', 'US', 'HU', 'NZ', 'FR', 'IN', 'PK', 'PL',
       'PT', 'CN', 'GR', 'AE', 'NL', 'MX', 'CA', 'AT', 'NG', 'PH', 'ES',
       'DK', 'RU', 'IT', 'HR', 'BG', 'SG', 'BR', 'IQ', 'VN', 'BE', 'UA',
       'MT', 'CL', 'RO', 'IR', 'CO', 'MD', 'KE', 'SI', 'HK', 'TR', 'RS',
       'PR', 'LU', 'JE', 'CZ', 'AR', 'DZ', 'TN', 'MY', 'EE', 'AU', 'BO',
       'IE', 'CH'], dtype=object)

In [302]:
# Mapeo de valores.
mapeo_paises = {
    'DE': 'Alemania', 'JP': 'Japon', 'GB': 'Reino Unido', 'HN': 'Honduras', 
    'US': 'Estados Unidos', 'HU': 'Hungria', 'NZ': 'Nueva Zelanda', 'FR': 'Francia', 
    'IN': 'India', 'PK': 'Pakistan', 'PL': 'Polonia', 'PT': 'Portugal', 'CN': 'China', 
    'GR': 'Grecia', 'AE': 'Emiratos Arabes Unidos', 'NL': 'Paises Bajos', 'MX': 'Mexico', 
    'CA': 'Canada', 'AT': 'Austria', 'NG': 'Nigeria', 'PH': 'Filipinas', 'ES': 'España', 
    'DK': 'Dinamarca', 'RU': 'Rusia', 'IT': 'Italia', 'HR': 'Croacia', 'BG': 'Bulgaria', 
    'SG': 'Singapur', 'BR': 'Brasil', 'IQ': 'Irak', 'VN': 'Vietnam', 'BE': 'Belgica', 
    'UA': 'Ucrania', 'MT': 'Malta', 'CL': 'Chile', 'RO': 'Rumania', 'IR': 'Iran', 
    'CO': 'Colombia', 'MD': 'Moldavia', 'KE': 'Kenia', 'SI': 'Eslovenia', 'HK': 'Hong Kong', 
    'TR': 'Turquia', 'RS': 'Serbia', 'PR': 'Puerto Rico', 'LU': 'Luxemburgo', 'JE': 'Jersey', 
    'CZ': 'Republica Checa', 'AR': 'Argentina', 'DZ': 'Argelia', 'TN': 'Túnez', 'MY': 'Malasia', 
    'EE': 'Estonia', 'AU': 'Australia', 'BO': 'Bolivia', 'IE': 'Irlanda', 'CH': 'Suiza'
}

# Reemplazar los valores.
df['Residencia del Empleado'] = df['Residencia del Empleado'].replace(mapeo_paises)

In [303]:
df['Residencia del Empleado'].unique() # Verificar los valores únicos de la columna 'Residencia del Empleado' tras el reemplazo.

array(['Alemania', 'Japon', 'Reino Unido', 'Honduras', 'Estados Unidos',
       'Hungria', 'Nueva Zelanda', 'Francia', 'India', 'Pakistan',
       'Polonia', 'Portugal', 'China', 'Grecia', 'Emiratos Arabes Unidos',
       'Paises Bajos', 'Mexico', 'Canada', 'Austria', 'Nigeria',
       'Filipinas', 'España', 'Dinamarca', 'Rusia', 'Italia', 'Croacia',
       'Bulgaria', 'Singapur', 'Brasil', 'Irak', 'Vietnam', 'Belgica',
       'Ucrania', 'Malta', 'Chile', 'Rumania', 'Iran', 'Colombia',
       'Moldavia', 'Kenia', 'Eslovenia', 'Hong Kong', 'Turquia', 'Serbia',
       'Puerto Rico', 'Luxemburgo', 'Jersey', 'Republica Checa',
       'Argentina', 'Argelia', 'Túnez', 'Malasia', 'Estonia', 'Australia',
       'Bolivia', 'Irlanda', 'Suiza'], dtype=object)

In [304]:
df['Proporcion de Trabajo en Remoto'].unique() # Verificar los valores únicos de la columna 'Proporcion de Trabajo en Remoto'.

array([  0,  50, 100])

In [305]:
df['Proporcion de Trabajo en Remoto'] = df['Proporcion de Trabajo en Remoto'].astype(str).replace(mapa_remoto)

# Mapeo de valores.
# 0: No remote work (less than 20%)
# 50: Partially remote
# 100: Fully remote (more than 80%)
mapa_remoto = {
    '0': 'No remote work', 
    '50': 'Partially remote',
    '100': 'Fully remote' 
}

# Reemplazar los valores.
df['Proporcion de Trabajo en Remoto'] = df['Proporcion de Trabajo en Remoto'].replace(mapa_remoto)

In [306]:
df['Proporcion de Trabajo en Remoto'].unique() # Verificar los valores únicos de la columna 'Proporcion de Trabajo en Remoto' tras el reemplazo.

array(['No remote work', 'Partially remote', 'Fully remote'], dtype=object)

In [307]:
df['Ubicacion de la Empresa'].unique() # Verificar los valores únicos de la columna 'Ubicacion de la Empresa'.

array(['DE', 'JP', 'GB', 'HN', 'US', 'HU', 'NZ', 'FR', 'IN', 'PK', 'CN',
       'GR', 'AE', 'NL', 'MX', 'CA', 'AT', 'NG', 'ES', 'PT', 'DK', 'IT',
       'HR', 'LU', 'PL', 'SG', 'RO', 'IQ', 'BR', 'BE', 'UA', 'IL', 'RU',
       'MT', 'CL', 'IR', 'CO', 'MD', 'KE', 'SI', 'CH', 'VN', 'AS', 'TR',
       'CZ', 'DZ', 'EE', 'MY', 'AU', 'IE'], dtype=object)

In [308]:
# Mapeo de valores.
mapeo_paises = {
    'DE': 'Alemania', 'JP': 'Japon', 'GB': 'Reino Unido', 'HN': 'Honduras', 
    'US': 'Estados Unidos', 'HU': 'Hungria', 'NZ': 'Nueva Zelanda', 'FR': 'Francia', 
    'IN': 'India', 'PK': 'Pakistan', 'CN': 'China', 'GR': 'Grecia', 'AE': 'Emiratos Arabes Unidos', 
    'NL': 'Paises Bajos', 'MX': 'Mexico', 'CA': 'Canada', 'AT': 'Austria', 'NG': 'Nigeria', 
    'ES': 'España', 'PT': 'Portugal', 'DK': 'Dinamarca', 'IT': 'Italia', 'HR': 'Croacia', 
    'LU': 'Luxemburgo', 'PL': 'Polonia', 'SG': 'Singapur', 'RO': 'Rumania', 'IQ': 'Irak', 
    'BR': 'Brasil', 'BE': 'Belgica', 'UA': 'Ucrania', 'IL': 'Israel', 'RU': 'Rusia', 
    'MT': 'Malta', 'CL': 'Chile', 'IR': 'Iran', 'CO': 'Colombia', 'MD': 'Moldavia', 
    'KE': 'Kenia', 'SI': 'Eslovenia', 'CH': 'Suiza', 'VN': 'Vietnam', 'AS': 'Samoa Americana', 
    'TR': 'Turquia', 'CZ': 'Republica Checa', 'DZ': 'Argelia', 'EE': 'Estonia', 'MY': 'Malasia', 
    'AU': 'Australia', 'IE': 'Irlanda'
}

# Reemplazar los valores.
df['Ubicacion de la Empresa'] = df['Ubicacion de la Empresa'].replace(mapeo_paises)

In [309]:
df['Ubicacion de la Empresa'].unique() # Verificar los valores únicos de la columna 'Ubicacion de la Empresa' tras el reemplazo.

array(['Alemania', 'Japon', 'Reino Unido', 'Honduras', 'Estados Unidos',
       'Hungria', 'Nueva Zelanda', 'Francia', 'India', 'Pakistan',
       'China', 'Grecia', 'Emiratos Arabes Unidos', 'Paises Bajos',
       'Mexico', 'Canada', 'Austria', 'Nigeria', 'España', 'Portugal',
       'Dinamarca', 'Italia', 'Croacia', 'Luxemburgo', 'Polonia',
       'Singapur', 'Rumania', 'Irak', 'Brasil', 'Belgica', 'Ucrania',
       'Israel', 'Rusia', 'Malta', 'Chile', 'Iran', 'Colombia',
       'Moldavia', 'Kenia', 'Eslovenia', 'Suiza', 'Vietnam',
       'Samoa Americana', 'Turquia', 'Republica Checa', 'Argelia',
       'Estonia', 'Malasia', 'Australia', 'Irlanda'], dtype=object)

In [310]:
df['Tamaño de la Empresa'].unique() # Verificar los valores únicos de la columna 'Tamaño de la Empresa'.

array(['L', 'S', 'M'], dtype=object)

In [311]:
# Mapeo de valores
mapa_empleo = {
    'S': 'Small', # (less than 50 employees)
    'M': 'Medium', # (50 to 250 employees)
    'L': 'Large' # (more than 250 employees)
}

# Reemplazar los valores
df['Tamaño de la Empresa'] = df['Tamaño de la Empresa'].replace(mapa_empleo)

In [312]:
df['Tamaño de la Empresa'].unique() # Verificar los valores únicos de la columna 'Tamaño de la Empresa' tras el reemplazo.

array(['Large', 'Small', 'Medium'], dtype=object)

In [318]:
# Agregar una columna 'ID' con un número secuencial.
df["ID"] = range(1, len(df) + 1)

In [319]:
df

,Año de Trabajo,Nivel de Experiencia,Tipo de Empleo,Título del Puesto,Salario,Moneda del Salario,Salario en USD,Residencia del Empleado,Proporcion de Trabajo en Remoto,Ubicacion de la Empresa,Tamaño de la Empresa,ID
0,2020,Intermediate,Full-time,Data Scientist,70000,EUR,79833,Alemania,No remote work,Alemania,Large,1
1,2020,Senior,Full-time,Machine Learning Scientist,260000,USD,260000,Japon,No remote work,Japon,Small,2
2,2020,Senior,Full-time,Big Data Engineer,85000,GBP,109024,Reino Unido,Partially remote,Reino Unido,Medium,3
3,2020,Intermediate,Full-time,Product Data Analyst,20000,USD,20000,Honduras,No remote work,Honduras,Small,4
4,2020,Senior,Full-time,Machine Learning Engineer,150000,USD,150000,Estados Unidos,Partially remote,Estados Unidos,Large,5
...,...,...,...,...,...,...,...,...,...,...,...,...
602,2022,Senior,Full-time,Data Engineer,154000,USD,154000,Estados Unidos,Fully remote,Estados Unidos,Medium,561
603,2022,Senior,Full-time,Data Engineer,126000,USD,126000,Estados Unidos,Fully remote,Estados Unidos,Medium,562
604,2022,Senior,Full-time,Data Analyst,129000,USD,129000,Estados Unidos,No remote work,Estados Unidos,Medium,563
605,2022,Senior,Full-time,Data Analyst,150000,USD,150000,Estados Unidos,Fully remote,Estados Unidos,Medium,564
606,2022,Intermediate,Full-time,AI Scientist,200000,USD,200000,India,Fully remote,Estados Unidos,Large,565

In [320]:
# Guardar el DataFrame combinado en un archivo CSV.
df.to_csv("CSV/Salaries_Data.csv", index=False) # index=False evita que se guarde el índice.